* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    background: #504625;
}

/* /Header */

/* TodoPage */

.todo {
    width: 100%;
    height: 100vh;
    background: #ccb558;
}

/* /TodoPage */